@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
:root {
  --h1-font-size: 3rem;
  --h2-font-size: 2.3rem;
  --h3-font-size: 1.75rem;
  --body-font-size: .9rem;
  --small-font-size: .75rem;
}
@media screen and (min-width: 64em) {
  :root {
    --h1--font-size: 3.125rem;
    --h2--font-size: 2.8125rem;
    --h3--font-size:2.1875rem;
    --body--font-size: 1rem;
    --small--font-size: .8rem;
  }
}

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #F7F7F7;
  margin: 0;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

.l-container {
  max-width: 1400px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.l-section {
  margin-top: 1.4rem;
}
@media screen and (min-width: 64em) {
  .l-section {
    margin-top: 5rem;
  }
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.center-content {
  text-align: center;
}

/*=============================================
MENÚ
=============================================*/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  font-size: 1.1rem;
  background: #fff;
  max-width: 1400px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__link {
  padding: 10px;
}
.navbar__link a {
  color: #000;
}
.navbar__link a:hover {
  color: #CCB686;
}

.burger {
  display: none;
}

/*  Small device */
@media screen and (max-width: 767.98px) {
  .navbar__links {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 0;
    height: calc(100vh - 65px);
    position: absolute;
    top: 65px;
    right: 0;
    background: #fff;
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .show-nav .navbar__links {
    width: 100vw;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  .navbar__link {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .show-nav .navbar__link {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  .navbar__link > a {
    display: block;
    padding: 0.3rem;
    font-size: 1rem;
    color: #000;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .navbar__link > a:hover {
    padding-left: 2rem;
  }

  /* Toggle menu */
  .burger {
    display: block;
    position: relative;
    padding: 0;
    width: 25px;
    height: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding-right: 50px;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background: #000;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .bar::before, .bar::after {
    content: "";
    width: 45px;
    height: 3px;
    position: absolute;
    left: 0;
    background: #000;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .bar::before {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }

  .bar::after {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }

  .show-nav .bar {
    width: 0;
    background: #000;
  }

  .show-nav .bar::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .show-nav .bar::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  /* Bonus - Animations */
  .show-nav .first {
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }

  .show-nav .second {
    -webkit-transition: all 1.1s ease-out;
    transition: all 1.1s ease-out;
  }

  .show-nav .third {
    -webkit-transition: all 1.2s ease-out;
    transition: all 1.2s ease-out;
  }

  .show-nav .four {
    -webkit-transition: all 1.3s ease-out;
    transition: all 1.3s ease-out;
  }

  .show-nav .fifth {
    -webkit-transition: all 1.4s ease-out;
    transition: all 1.4s ease-out;
  }
}
/*  Medium device - Bonus */
@media screen and (min-width: 768px) {
  .navbar__link > a::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
  }

  .navbar__link:hover > a::after {
    width: 100%;
  }
}