@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
:root {
  --h1-font-size: 3rem;
  --h2-font-size: 2.3rem;
  --h3-font-size: 1.75rem;
  --body-font-size: .9rem;
  --small-font-size: .75rem;
}
@media screen and (min-width: 64em) {
  :root {
    --h1--font-size: 3.125rem;
    --h2--font-size: 2.8125rem;
    --h3--font-size:2.1875rem;
    --body--font-size: 1rem;
    --small--font-size: .8rem;
  }
}

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #F7F7F7;
  margin: 0;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

.l-container {
  max-width: 1400px;
  padding-left: 2rem;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.l-section {
  margin-top: 1.4rem;
}
@media screen and (min-width: 64em) {
  .l-section {
    margin-top: 5rem;
  }
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.center-content {
  text-align: center;
}

/*=============================================
MENÚ
=============================================*/
.main-header {
  background: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
.main-header__block {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-header__block .main-nav {
  position: fixed;
  height: calc(100vh - 5rem);
  width: 100vw;
  background: #fff;
  top: 100px;
  right: -100vw;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
  z-index: var(--z-fixed);
}
@media screen and (min-width: 64em) {
  .main-header__block .main-nav {
    position: static;
    background: transparent;
    padding: 0;
    height: auto;
    width: auto;
    margin-top: 1rem;
  }
}
.main-header__block .main-nav.show {
  right: 0;
}
.main-header__block .main-nav .main-menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
@media screen and (min-width: 64em) {
  .main-header__block .main-nav .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main-header__block .main-nav .main-menu__item {
  padding: 0.8rem;
  font-size: 1.375rem;
  text-align: left;
}
@media screen and (min-width: 64em) {
  .main-header__block .main-nav .main-menu__item {
    font-size: 1rem;
  }
}
.main-header__block .main-nav .main-menu__link {
  color: #000;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.main-header__block .main-nav .main-menu__link:hover {
  color: #CCB686;
  font-weight: bold;
}

.main-menu-toggle {
  width: 2.2rem;
  height: 1.6rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, black), color-stop(20%, transparent), color-stop(40%, transparent), color-stop(40%, black), color-stop(60%, black), color-stop(60%, transparent), color-stop(80%, transparent), color-stop(80%, black));
  background: linear-gradient(black 20%, transparent 20%, transparent 40%, black 40%, black 60%, transparent 60%, transparent 80%, black 80%);
  cursor: pointer;
}
@media screen and (min-width: 64em) {
  .main-menu-toggle {
    display: none;
  }
}

#slide {
  position: relative;
  margin: auto;
  width: 100%;
  overflow: hidden;
}

#slide ul {
  position: relative;
  left: 0%;
  margin: auto;
  height: auto;
  width: 400%;
  clear: both;
  display: table;
  margin: 0px;
  padding: 0px;
}

#slide ul li {
  position: relative;
  float: left;
  width: 25%;
  margin: 0px;
  padding: 0px;
}

#slide ul li img {
  width: 100%;
  min-height: 100vh;
}

#slide #paginacion {
  position: absolute;
  width: 100%;
  margin: auto;
  text-align: center;
  bottom: 10px;
  left: 0;
  z-index: 1;
}

#slide #paginacion li {
  display: inline-block;
  margin: 0px 5px;
  cursor: pointer;
  opacity: 0.5;
  color: white;
  text-shadow: 0px 0px 5px #333;
}

#slide #paginacion li:first-child {
  opacity: 1;
}

#slide .flechas {
  position: absolute;
  font-size: 20px;
  color: white;
  cursor: pointer;
  z-index: 2;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#slide .flechas:hover {
  background: #fff;
  color: #000;
}

#slide #retroceder {
  top: 45%;
  left: 2%;
}

#slide #avanzar {
  top: 45%;
  right: 2%;
}

#slide ul li .textoSlide {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 0;
  text-align: center;
  z-index: 1;
  color: white;
}
@media screen and (min-width: 64em) {
  #slide ul li .textoSlide {
    top: 40%;
    padding-left: 7rem;
  }
}

#slide ul li .textoSlide h4 {
  padding: 5px 0;
  font-size: 1.125rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-align: left;
  color: #2db7ff;
  font-weight: bold;
  padding-left: 8rem;
  text-transform: uppercase;
}

#slide ul li .textoSlide h1 {
  padding: 5px 0;
  font-size: 2.375rem;
  font-family: "Barlow Semi Condensed", sans-serif;
}
@media screen and (min-width: 64em) {
  #slide ul li .textoSlide h1 {
    font-size: 4rem;
  }
}

#slide ul li .textoSlide h3 {
  padding-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
}