@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
:root {
  --h1-font-size: 3rem;
  --h2-font-size: 2.3rem;
  --h3-font-size: 1.75rem;
  --body-font-size: .9rem;
  --small-font-size: .75rem;
}
@media screen and (min-width: 64em) {
  :root {
    --h1--font-size: 3.125rem;
    --h2--font-size: 2.8125rem;
    --h3--font-size:2.1875rem;
    --body--font-size: 1rem;
    --small--font-size: .8rem;
  }
}

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #F7F7F7;
  margin: 0;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

.l-container {
  max-width: 1400px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.l-section {
  margin-top: 1.4rem;
}
@media screen and (min-width: 64em) {
  .l-section {
    margin-top: 5rem;
  }
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.center-content {
  text-align: center;
}