/*=============================================
BEFORE AND AFTER IMAGE
=============================================*/

.before_afterApp{

	.before_afterMain{

		flex-direction : column;

		@include from(lg){

			flex-direction : row;

		}

		.before_afterAside{

			padding : 2rem;

			@include from(lg){

				flex : 1 0 40%;

			}

			.before_afterSubtitle{

				color          : $primary-color;
				text-transform : uppercase;
				font-size      : 1rem;
				font-family    : $font-headers;

				&:before{

				    width        : 60px;
				    margin-right : 20px;
				    position     : relative;
				    top          : -5px;
				    border-top   : 1px solid $primary-color;
				    border-color : $primary-color;				    
				    content      : "";
				    display      : inline-block;

				}

			}

			.before_afterText{

				color       : $secondary-color;
				font-size   : 2.5rem;
				font-family : $font-headers;
								
			}

		}

		.before_afterImg{
			

			@include from(lg){

				flex : 1 0 60%;

			}

			.cd-image-container {

			  position  : relative;			

			}

			.cd-image-container img {

			  display : block;

			}

			.cd-image-label {

			  position       : absolute;
			  font-weight    : bold;
			  letter-spacing : 1px;
			  top            : 10px;
			  right          : 0;
		      color          : #fff;
		      opacity        : .7;
			  padding        : 1em;
			  transition     : transform 0.3s 0.7s, opacity 0.3s 0.7s;
			  font-size      : 2rem;
			  font-family    : $font-headers;
			  text-stroke    : 1px rgba(255, 255, 255, 0.3);
			  

			}

			.cd-image-label.is-hidden {

			  visibility : hidden;

			}

			.is-visible .cd-image-label {

			  opacity   : .4;
			  transform : translateY(0);

			}

			.cd-resize-img {

			  position            : absolute;
			  top                 : 0;
			  left                : 0;
			  width               : 0;
			  height              : 100%;
			  overflow            : hidden; 
			  transform           : translateZ(0); 
			  backface-visibility : hidden;

			}

			.cd-resize-img img {

			  position  : absolute;
			  left      : 0;
			  top       : 0;
			  display   : block;
			  height    : 100%;
			  width     : auto;
			  max-width : none;

			}

			.cd-resize-img .cd-image-label {

			  right : auto;
			  left  : 0;

			}

			.is-visible .cd-resize-img {

			  width     : 50%;			
			  animation : cd-bounce-in 0.7s;

			}


			@keyframes cd-bounce-in {

			  0% {

			    width : 0;
			  }

			  60% {

			    width : 55%;

			  }

			  100% {

			    width : 50%;

			  }

			}

			.cd-handle {

			  position      : absolute;
			  height        : 44px;
			  width         : 44px;		
			  left          : 50%;
			  top           : 50%;
			  margin-left   : -22px;
			  margin-top    : -22px;
			  border-radius : 50%;
			  background    : #000000 url("https://images.clickfunnels.com/09/a714400d3211e7a0bd7d7140585054/cd-arrows.svg") no-repeat center center;
			  cursor        : move;
			  box-shadow    : 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
			  opacity       : 0;			 
			  transform     : translate3d(0, 0, 0) scale(0);

			}

			.cd-handle.draggable {

			  background : #445b7c;

			}

			.is-visible .cd-handle {

			  opacity    : 1;			
			  transform  : translate3d(0, 0, 0) scale(1);			 
			  transition : transform 0.3s 0.7s, opacity 0s 0.7s;

			}

		}

	}

}
