/*=============================================
MENÚ
=============================================*/

.main-header{

    background : #fff;
    width      : 100%;
    position   : fixed;
    top        : 0;
    left       : 0;
    z-index    : var(--z-fixed);

    &__block{

        justify-content : space-between;
        align-items     : center;
        height          : 100%;
        flex-wrap       : wrap;

        .main-nav{

            position    : fixed;
            height      : calc(100vh - #{$header-height});
            width       : 100vw;
            background  : #fff;
            top         : 100px;
            right       : -100vw;
            transition  : right .3s;
            z-index     : var(--z-fixed);

            @include from(lg){

                position   : static;
                background : transparent;
                padding    : 0;
                height     : auto;
                width      : auto;
                margin-top : 1rem; 

            }

            &.show{

                right: 0;

           }

           .main-menu{

                margin-top    : 0;
                margin-bottom : 0;
                padding-left  : 0;
                
                @include from(lg){
                    
                    display: flex;

                }

                &__item{

                    padding    : .8rem;
                    font-size  : 1.375rem;
                    text-align : left;

                    @include from(lg){

                        font-size : 1rem; 

                    }

                }

                &__link{

                    color       : #000;
                    font-family : $font-headers; 

                    &:hover{

                        color       : #CCB686;
                        font-weight : bold; 

                    }                   

                }

           }

        }

    }

}

.main-menu-toggle{
    
    width         : 2.2rem;
    height        : 1.6rem;
    background    : linear-gradient(black 20%, transparent 20%, transparent 40%, black 40%, black 60%, transparent 60%, transparent 80%, black 80%);
    cursor        : pointer;

    @include from(lg){

        display : none;

    }

 }