/*=============================================
NOSOTROS
=============================================*/

.nosotros-app{

	.nosotros-main{

		flex-direction : column;

		@include from(lg){

			flex-direction : row;

		}

		.main-aside{

			padding: 2rem;

			@include from(lg){

				flex : 1 0 50%;

			}
			
			.aside-smallTitle{

				font-size      : 1rem;
				text-transform : uppercase;
				color          : $primary-color;
				font-family    : $font-headers;

			}

			.aside-title{

				font-size   : 1.5rem;
				font-family : $font-headers;
				color       : $secondary-color;

				@include from(lg){

					font-size   : 2.5rem;

				}


			}

			.aside-text{

				color         : #62718d;
				font-size     : 1.0625rem;
				font-weight   : 400;
    			line-height   : 1.5;
    			margin-bottom : 1.5rem; 
    			padding-right : 2rem;

			}

		}

		.nosotros-image{

			position : relative;
			padding  : 2rem;

			img{	

				width : 100%;

				@include from(lg){

				width  : 570px;
				height : 460px;

				}

			}

			@include from(lg){

				flex : 1 0 50%;

			}

		}	
	}

}

.imgHolderv1:before{

	content: "";
    position: absolute;
    top: -1px;
    right: -9px;
    background : #2db7ff;

}

.imgHolderv1:before{

	opacity: .2;
    z-index: -1;     
    transform: rotate(70deg);
    border-radius :99px;   
    

    @include from(lg){

    	width: 611px;
   		height: 407px;
   		margin-top : 5rem;


    }

}

