/*=============================================
NOSOTROS INICIO
=============================================*/

.nosotros-app{

	.nosotros-main{

		flex-direction : column;

		@include from(lg){

			flex-direction : row;

		}

		.main-aside{

			padding: 2rem;

			@include from(lg){

				flex : 1 0 50%;

			}
			
			.aside-smallTitle{

				font-size      : 1rem;
				text-transform : uppercase;
				color          : $primary-color;
				font-family    : $font-headers;

			}

			.aside-title{

				font-size   : 1.5rem;
				font-family : $font-headers;
				color       : $secondary-color;

				@include from(lg){

					font-size   : 2.5rem;

				}


			}

			.aside-text{

				color         : #62718d;
				font-size     : 1.0625rem;
				font-weight   : 400;
    			line-height   : 1.5;
    			margin-bottom : 1.5rem; 
    			padding-right : 2rem;

			}

		}

		.nosotros-image{

			position : relative;
			padding  : 2rem;

			img{	

				width : 100%;

				@include from(lg){

				width  : 570px;
				height : 460px;

				}

			}

			@include from(lg){

				flex : 1 0 50%;

			}

		}	
	}

}

.imgHolderv1:before{

	content: "";
    position: absolute;
    top: -1px;
    right: -9px;
    background : #2db7ff;

}

.imgHolderv1:before{

	opacity: .2;
    z-index: -1;     
    transform: rotate(70deg);
    border-radius :99px;   
    

    @include from(lg){

    	width: 611px;
   		height: 407px;
   		margin-top : 5rem;


    }

}

/*=============================================
NOSOTROS PÁGINA
=============================================*/

.nosotros-container{

	&__title{

		font-size   : 2.5rem;
		color       : $secondary-color;
		font-family : $font-headers;
		margin      : 0;
		padding-top : 3rem;

	}

	&__text{

		color         : #62718d;
		font-size     : 1.25rem;
		font-family   : $font-main;
		font-weight   : 400;
		line-height   : 1.5;
		margin-top    : 1rem;

	}

}

.nosotrosApp{

	.nosotrosMain{

		flex-direction : column;

		@include from(lg){

			flex-direction : row;

		}	

		.nosotrosAside{

			padding: 2rem;

			@include from(lg){

				flex : 1 0 50%;

			}

			.nosotrosAsideImg{

				img{

					border-radius : 99px; 

				}

			}

		}

		.nosotros-info{

			display         : flex;
			flex-direction  : column;
			justify-content : center;

			&__subTitle{

				color          : $primary-color;
				text-transform : uppercase;
				font-family    : $font-headers;
				font-size      : 1rem; 
				margin         : 0;

			}

			&__title{

				color       : $secondary-color;
				font-family : $font-headers;
				font-size   : 2.5rem;
				margin-top  : 1rem;

			}

			&__text{

				color         : #62718d;
				font-size     : 1.063rem;
				font-family   : $font-main;
				font-weight   : 400;
    			line-height   : 1.5;

			}

		}	

	}

}

/*=============================================
NOSOTROS CERTIFICADO
=============================================*/

.nosotros-certificado{

	&__title{

		font-size   : 2.5rem;
		color       : $secondary-color;
		font-family : $font-headers;
		margin      : 0;
		padding-top : 2rem;

	}

	img{

		padding    : 2rem;
		width      : 40%;
		text-align : center;

	}

}