/*=============================================
SERVICIOS
=============================================*/

.servicios{

	background : #253685;
	margin-top : -10px;
	position   : relative;
	height     : 180vh;

	@include from(lg){

		height : 50vh;

	}

	&-container{

		flex-wrap  : wrap;
		text-align : center;
		position   : absolute;
		top        : -50px;   
		width      : 100%;

		@include from(lg){

			bottom : 50%;	

		}

		.servicios-item{

			margin-bottom : 1.5rem;		
			padding       : 2rem;
			width         : 100%;
			background    : #fff;
			border-radius : 7px;

			@include from(md){

				width: calc(50% - 2rem);
				margin: 1rem;

			}

			@include from(lg){

				width: calc(25% - 2rem);
				margin: 1rem;

			}

			@include from(lg){

				width: calc(25% - 2rem);
				margin: 1rem;

			}

			.servicios-img{

				text-align: left;

				img{

					width  : 70px;
					height : 70px;				

				}

			}			

			.servicios-title{

				font-size   : 1.25rem;
				color       : #263788;
				font-family : $font-headers; 
				font-weight : normal;

			}

		}

	}

}

.service-calling{

	font-size       : 1rem;
	font-family     : $font-main; 
	color           : #fff;
	justify-content : space-between;
	align-items     : center;
	width           : 100%;
	flex-wrap       : wrap;

	@include from(lg){

		font-size : 1.25rem;

	}

	.movil-call{

		background    : $secondary-color;
		margin-left   : 1rem;
		padding       : 10px 14px;
		border-radius : 99px;
		margin-top    : 1.5rem;	

		@include from(lg)	{

			margin-top : 0;

		}

		span{

			color: #2db7ff;

		}

	}

}