#slide{

	position : relative;
	margin   : auto;
	width    : 100%;	
	overflow : hidden;

}

#slide ul{

	position : relative;
	left     : 0%;
	margin   : auto;
	height   : auto;
	width    : 400%;
	clear    : both;
	display  : table;
	margin   : 0px;
	padding  : 0px;

}

#slide ul li{

	position : relative;
	float    : left;
	width    : 25%;
	margin   : 0px;
	padding  : 0px;

}	

#slide ul li img{

	width      : 100%;
	min-height : 100vh;

}

#slide .flechas{

	position         : absolute;
	font-size        : 20px;
	color            : white;
	cursor        	 : pointer;
	z-index       	 : 2;
	border        	 : 2px solid #fff;
	border-radius 	 : 50%;
	width         	 : 50px;
	height         	 : 50px;
	display          : flex;
	justify-content  : center;
	align-items      : center;

	&:hover{

		background : #fff;;
		color      : #000;

	}

}

#slide #retroceder{

	top  : 45%;
	left : 2%;

}

#slide #avanzar{

	top   : 45%;
	right : 2%;

}

#slide ul li .textoSlide{

	position     : absolute;
	width        : 100%;
	top          : 30%;
	left         : 0;
	text-align   : center;
	z-index      : 1;
	color        : white;
	
	@include from(lg){

		top          : 40%;		
		padding-left : 7rem;

	}

}

#slide ul li .textoSlide h4{
	
	padding        : 5px 0;
	font-size      : 1.125rem;
	font-family    : $font-headers;
	text-align     : left;
	color          : #2db7ff;
	font-weight    : bold; 
	padding-left   : 8rem;
	text-transform : uppercase;
	margin         : 0;

}

#slide ul li .textoSlide h1{
	
	padding     : 5px 0;
	font-size   : 2.375rem;
	font-family : $font-headers;
	margin      : 0;

	@include from(lg){
		
		font-size : 4rem;
	}

}

#slide ul li .textoSlide h3{
	
	padding-bottom : 10px;
	font-family    : $font-main;
	padding-top    : .7rem;

}